@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@media (max-width: 780px) {

    body {
        margin: 0 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Arial', sans-serif;
}

html {
    font-size: 100%;
}


body {
    display: grid;
    grid-template: auto 1fr auto / 1fr 90% 1fr;
}

main {
    grid-row: 2/3;
}

main,
header,
footer {
    grid-column: 2/3;
}

.hey {
    width: 35%;
    min-width: 350px;
    height: auto;
    margin: 2rem auto;
    justify-self: center;
}

.link {
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0.5rem;
}

a.logo>img {
    width: 8vw;
    height: auto;
    min-width: 50px;
}

a.cart>img {
    width: 2.5vw;
    height: auto;
    min-width: 30px;
}

ul.menu {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

ul.menu a {
    padding: 0 min(1rem, 2%);
}

ul.menu a>li {
    font-size: min(4vw, 16px);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

ul.breadcrumb {
    margin: 0.4rem 0;
}

ul.breadcrumb li,
ul.breadcrumb li>a {
    display: inline-block;
    margin: 0.1rem 0;
    font-size: min(5w, 15px);
}

ul.breadcrumb li+li:before {
    padding: 0.5rem;
    color: black;
    content: "/\00a0";
}

footer {
    font-size: 14px;
    margin: 1rem 0 0.5rem;
}