* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

ul.breadcrumb li {
    display: inline-block;
    margin: 0.5rem 0;
}

ul.breadcrumb li+li:before {
    padding: 0.5rem;
    color: black;
    content: "/\00a0";
}